* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-family: "Poppins", sans-serif;
}

::-webkit-scrollbar {
  width: 7px; 
}

::-webkit-scrollbar-thumb {
  background-color: #ffd700; 
  border-radius: 6px; 
}

body {
  background-color: #1e1e2a;
}

a {
  text-decoration: none;
}

.container {
  width: 90%;
  margin: 0 auto;
  /* height: 100%; */
}

nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-top: 10px;

  /* background-color: blue; */
}

.inscri {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 136px;
  height: 38px;
  background-color: white;
  font-size: 14px;
  border-radius: 24px;
  border: 1px solid #ffd700;
  box-shadow: 5px 10px 10px rgba(0, 0, 0, 0.25);
}

.inscri a {
  color: black;
}

.inscri:hover {
  background-color: #ffd700;
  color: white;
  font-weight: bold;
}

.conn {
  width: 136px;
  height: 38px;
  background-color: #ffd700;
  font-size: 14px;
  border-radius: 24px;
  display: flex;
  align-items: center;
  justify-content: center;
  box-shadow: 5px 10px 10px rgba(0, 0, 0, 0.25);
}

.conn a {
  color: black;
}

.conn:hover {
  background-color: white;
  color: black;
  font-weight: bold;
}

.bloc-id {
  display: flex;
  gap: 15px;
}

.descipt {
  margin-top: 5%;
  animation: parition 1.5s cubic-bezier(0.25, 0.46, 0.45, 0.94) both;
}

@keyframes parition {
  0% {
    transform: translateZ(1000px);
    opacity: 0;
  }
  100% {
    transform: translateZ(0);
    opacity: 1;
  }
}

.descript-contain {
  width: 80%;
  height: 600px;
  display: flex;
  justify-content: flex-start;
  margin: 0 auto;
  padding-left: 5%;
  background: url(../img/image-film/back1.jpeg);
  background-size: cover;
  box-shadow: 5px 10px 10px rgba(0, 0, 0, 0.25);
  border-radius: 5px;
}

.text-descript {
  width: 50%;
  text-align: left;
  margin-top: 7%;
  font-weight: bold;
  animation: apparition 2s cubic-bezier(0.55, 0.085, 0.68, 0.53) both;
}

@keyframes apparition {
  0% {
    letter-spacing: 1em;
    filter: blur(12px);
    opacity: 0;
  }
  100% {
    filter: blur(0px);
    opacity: 1;
  }
}

.text-descript P:first-child {
  font-size: 45px;
  color: white;
  position: relative;
}

.text-descript P:first-child img {
  position: absolute;
  margin-left: 2px;
  margin-top: 27px;
}

.text-descript P:nth-child(2) {
  font-size: 18px;
  color: #ffd700;
}

/* .first-video {
  width: 50%;
  height: 550px;
  background: url(./img/boy-africa.jpg);
  background-size: cover;
  background-position: center center;
  box-shadow: 5px 10px 10px rgba(0, 0, 0, 0.25);
  border-radius: 5px;
} */




/*Videos recentes*/

.video-recentes {
  display: flex;
  flex-direction: column;
  margin-top: 10%;
  /* box-shadow: 5px 10px 10px rgba(0, 0, 0, 0.25); */
  animation: apparition 2s cubic-bezier(0.55, 0.085, 0.68, 0.53) both;
}

.deo-debut {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 15%;
  height: 43px;
  background-color: black;
  border-radius: 41px;
  color: white;
  font-size: 13px;
  box-shadow: 5px 10px 10px rgba(0, 0, 0, 0.441);
  animation: augment 4s cubic-bezier(0.25, 0.46, 0.45, 0.94) infinite;
}

.bloc-deo {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  gap: 1%;
  padding-left: 5%;
}

.bloc-deo div:nth-child(2) {
  background: url("../img/image-film/la-canne-du-roi.jpeg");
  background-position: center center;
  background-size: cover;
}

.bloc-deo div:nth-child(3) {
  background: url("../img/image-film/le_mandat.jpeg");
  background-position: center center;
  background-size: cover;
}

.bloc-deo div:nth-child(4) {
  background: url("../img/image-film/binti.jpeg");
  background-position: center center;
  background-size: cover;
}

.bloc-deo div:nth-child(5) {
  background: url("../img/image-film/m_les-3-lascars-redimensionn.jpeg");
  background-position: center center;
  background-size: cover;
}

.bloc-deo div:nth-child(6) {
  background: url("../img/image-film/pokou.jpeg");
  background-position: center center;
  background-size: cover;
}

.bloc-deo div:nth-child(7) {
  background: url("../img/image-film/pokou.jpeg");
  background-position: center center;
  background-size: cover;
}
.bloc-deo div:nth-child(8) {
  background: url("../img/image-film/pokou.jpeg");
  background-position: center center;
  background-size: cover;
}

.video {
  width: 9%;
  height: 195px;
  background: url("../img/image-film/aya-de-yopougon.jpeg");
  background-position: center center;
  background-size: cover;
  margin-top: 5%;
  position: relative;
  border-radius: 5px;
  box-shadow: 5px 10px 10px rgba(0, 0, 0, 0.25);
}

.video p {
  position: absolute;
  color: #ffd700;
  font-size: 15px;
  bottom: 0;
  margin-left: 20%;
  margin-bottom: -10%;
}

/* Musiques recentes */

.musique-recentes {
  /* background-color: red; */
  display: flex;
  flex-direction: column;
  margin-top: 5%;
  animation: apparition 2s cubic-bezier(0.55, 0.085, 0.68, 0.53) both;
}

.music-debut {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 15%;
  height: 43px;
  background-color: black;
  border-radius: 41px;
  color: white;
  font-size: 13px;
  margin-top: 5%;
  box-shadow: 5px 10px 10px rgba(0, 0, 0, 0.25);
  animation: augment 4s cubic-bezier(0.25, 0.46, 0.45, 0.94) infinite;
}

.bloc-music {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  gap: 1%;
  padding-left: 5%;
}

.musique {
  width: 9%;
  height: 195px;
  background: url("../img/image-music/trophy_room.png");
  background-position: center center;
  background-size: cover;
  margin-top: 5%;
  position: relative;
  border-radius: 5px;
  box-shadow: 5px 10px 10px rgba(0, 0, 0, 0.25);
}

/*Conseil*/

.conseil {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin-top: 10%;
  width: auto;
}

.conseil p {
  color: white;
  font-size: 32px;
  width: 48%;
  text-align: center;
}

.inscrip-conseil {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 13%;
  height: 58px;
  background-color: white;
  font-size: 20px;
  border-radius: 36px;
  border: 1px solid #ffd700;
  margin-top: 3%;
  animation: vibration 1.5s linear infinite both;
}

.inscrip-conseil a {
  color: black;
}

.inscrip-conseil:hover {
  background-color: #ffd700;
  color: white;
  font-weight: bold;
}

@keyframes vibration {
  0% {
    transform: translate(0);
  }
  20% {
    transform: translate(2px, -2px);
  }
  40% {
    transform: translate(2px, 2px);
  }
  60% {
    transform: translate(-2px, 2px);
  }
  80% {
    transform: translate(-2px, -2px);
  }
  100% {
    transform: translate(0);
  }
}

/*ABOUT*/
.about {
  width: auto;
  margin-top: 7%;
}

.about-container {
  position: relative;
  margin: 0 auto;
  width: 50%;
  height: 350px;
  border: 2px solid #ffd700;
  border-radius: 17px;
}

.about-container p {
  font-size: 24px;
  text-align: center;
  color: white;
  padding: 0 15%;
  text-align: center;
}

.about-container p span {
  color: #ffd700;
}

.about-logo1 img {
  width: 70px;
  height: 70px;
  left: 0;
  animation: vibration 1s linear infinite both;
}

.about-logo2 img {
  position: absolute;
  width: 70px;
  height: 70px;
  right: 0;
  bottom: 0;
  animation: vibration 1s linear infinite both;
}

.title-about {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 179px;
  height: 54px;
  border-radius: 12px;
  background-color: #ffd700;
  color: #1e1e2a;
  font-size: 24px;
  margin: 0 auto;
  margin-top: -3%;
}

/*FOOTER*/

footer {
  width: auto;
  height: 110px;
  display: flex;
  justify-content: center;
  /* background-color: white; */
  /* border-top: 5px;
  border-style: solid;
  border-color: #ffd700; */
  margin-top: 7%;
}

.footer-container {
  display: flex;
  justify-content: center;
  margin-top: 2%;
}

.logos-foot {
}

.social {
  width: 34px;
  height: 34px;
}

.copyright {
  font-size: 17px;
  color: white;
  font-weight: bold;
}

/* Media query pour les écrans de taille moyenne */
@media only screen and (max-width: 1024px) {
  .container {
    width: 95%;
  }

  nav {
    flex-direction: column;
  }

  .bloc-id {
    flex-direction: row;
    .deo-debut {
      width: 5%;
    }
    align-items: center;
    font-size: 8px;
  }

  .descript-contain {
    height: 300px;
  }

  .text-descript {
    width: 100%;
    margin-top: 0;
  }

  .text-descript P:first-child {
    font-size: 30px;
    margin-top: 10%;
  }

  .first-video {
    width: 100%;
    height: 300px;
  }

  /*Videos recentes*/

  .deo-debut {
    width: auto;
    font-size: 20px;
  }
  .bloc-deo {
    display: flex;
    /* flex-wrap: wrap; */
    justify-content: space-between;
    align-items: flex-start;
    gap: 2%;
  }

  .video {
    width: 20%;
  }

  /* Musiques recentes */

  .music-debut {
    width: auto;
    font-size: 20px;
  }
  .bloc-music {
    display: flex;
    /* flex-wrap: wrap; */
    justify-content: space-between;
    align-items: flex-start;
    gap: 2%;
  }

  .musique {
    width: 20%;
  }

  /*Conseil*/

  .conseil p {
    width: 60%;
  }

  .inscrip-conseil {
    width: 17%;
    height: 48px;
    background-color: white;
    font-size: 16px;
    border-radius: 26px;
    border: 1px solid #ffd700;
    margin-top: 5%;
  }

  /*About*/

  .about-container {
    width: 70%;
  }

  .about-container p {
    margin-top: -5%;
    font-size: 22px;
  }

  /*FOOTER*/

  footer {
    /* height: 120px; */
  }
}

/* Media query pour les écrans de petite taille (par exemple, mobile) */
@media only screen and (max-width: 768px) {
  .text-descript P:first-child {
    font-size: 20px;
  }

  .inscri,
  .conn {
    width: auto;
    padding: 5px;
  }

  .descript-contain {
    margin-top: 10%;
    flex-direction: column;
    gap: 10px;
  }

  .bloc-deo {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 2%;
  }

  .video {
    width: 35%;
    padding: 0;
  }

  /* Musiques recentes */

  .bloc-music {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 2%;
  }

  .musique {
    width: 35%;
    padding: 0;
  }

  .conseil p {
    width: 100%;
    font-size: 16px;
  }

  .inscrip-conseil {
    width: 35%;
    height: 48px;
    background-color: white;
    font-size: 16px;
    border-radius: 26px;
    border: 1px solid #ffd700;
    margin-top: 5%;
  }
  /*About*/

  .about-container {
    margin: 0 auto;
    margin-top: 10%;
    width: 50%;
    height: 200px;
    border: 2px solid #ffd700;
    border-radius: 17px;
  }

  .title-about {
    width: 159px;
    height: 34px;
    border-radius: 12px;
    font-size: 15px;
    margin-top: -6%;
  }

  .about-logo1 img {
    width: 30px;
    height: 30px;
  }

  .about-logo2 img {
    position: absolute;
    width: 30px;
    height: 30px;
  }

  .about-container {
    width: 70%;
  }

  .about-container p {
    margin-top: -5%;
    font-size: 12px;
  }

  /*FOOTER*/

  footer {
    height: 100px;
    margin-top: 10%;
    padding-left: 5%;
    padding-right: 5%;
  }

  .footer-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-top: 5%;
  }

  .social {
    width: 20px;
    height: 20px;
  }

  .copyright {
    font-size: 8px;
  }
}
