* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-family: "Poppins", sans-serif;
}

::-webkit-scrollbar {
  width: 7px;
}

::-webkit-scrollbar-thumb {
  background-color: #ffd700;
  border-radius: 6px;
}

body {
  background-color: #1e1e2a;
}

.container {
  width: 80%;
  margin: 0 auto;
}

.all {
  display: flex;
}

a {
  text-decoration: none;
}

/*SIDEBAR*/

.sidebar {
  width: 15vw;
  height: 100vh;
  display: flex;
  justify-content: center;
  background-color: #1e1e2a;
  position: fixed;
}
.sidebar-content {
  position: relative;
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  /* background-color: red; */
}

.logo-side {
  position: absolute;
  width: 199px;
  height: 64px;
  top: 0;
}

.btn-content {
  font-size: 16px;
  font-weight: bold;
  color: white;
  /* background-color: blue; */
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  column-gap: 100px;
}
.btn-content div img {
  height: 24px;
  width: 24px;
}

.btn-content:first-child {
}

.btn-content div {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin-top: 20px;
}

.btn-content div:hover {
  transform: scale(1.1);
  box-shadow: 5px 10px 10px rgba(0, 0, 0, 0.25);
}

.video-side {
  height: 100%;
  width: 80%;
  border-radius: 6px;
  background-color: #ffd700;
  animation: augment 2s cubic-bezier(0.25, 0.46, 0.45, 0.94) both;
}

@keyframes augment {
  0% {
    transform: scaleX(0);
    transform-origin: 0% 0%;
    opacity: 1;
  }
  100% {
    transform: scaleX(1);
    transform-origin: 0% 0%;
    opacity: 1;
  }
}

.trait-side {
  height: 20px;
  width: 90%;
  border-radius: 10px;
  background-color: rgba(5, 4, 4, 0.443);
}

/*HEADER*/

nav {
  display: flex;
  justify-content: space-around;
  align-items: center;
  margin-top: 20px;
}

.user {
  display: flex;
  justify-content: center;
  align-items: center;
  color: white;
  font-weight: bold;
  gap: 8px;
}

.user img {
  width: 59px;
  height: 59px;
}

.search {
  position: relative;
  margin: auto;
}

.search input {
  width: 13vw;
  height: 35px;
  border-radius: 27px;
  border: 0px;
  background-color: rgba(217, 217, 217, 0.4);
  color: white;
  font-weight: bold;
}

#search::placeholder {
  color: rgba(255, 255, 255, 0.4);
  font-size: 14px;
}

/*CONTAINER 2*/

.container2 {
  width: 76%;
  margin: 0 auto;
}

.linkplay {
  display: flex;
  justify-content: center;
  align-items: center;
} 

.descript-contain {
  width: 80%;
  height: 300px;
  display: flex;
  justify-content: flex-start;
  margin: 0 auto;
  padding-left: 5%;
  border-radius: 5px;
}

.text-descript {
  width: 90%;
  text-align: left;
  margin-top: 7%;
  font-weight: bolder;
  animation: apparition 2s cubic-bezier(0.55, 0.085, 0.68, 0.53) both;
  animation: vibration 1.2s linear infinite both;
}

@keyframes apparition {
  0% {
    letter-spacing: 1em;
    filter: blur(12px);
    opacity: 0;
  }
  100% {
    filter: blur(0px);
    opacity: 1;
  }
}

@keyframes vibration {
  0% {
    transform: translate(0);
  }
  20% {
    transform: translate(2px, -2px);
  }
  40% {
    transform: translate(2px, 2px);
  }
  60% {
    transform: translate(-2px, 2px);
  }
  80% {
    transform: translate(-2px, -2px);
  }
  100% {
    transform: translate(0);
  }
}

.text-descript P:first-child {
  font-size: 45px;
  color: white;
  position: relative;
}

.text-descript P:nth-child(2) {
  font-size: 18px;
  color: #ffd700;
}

/*VIDEO TRAILER*/

.video-trailer {
  width: 100%;
  height: 600px;
  background: url(../img/image-film/back1.jpeg);
  background-size: cover;
  box-shadow: 5px 10px 10px rgba(0, 0, 0, 0.25);
  border-radius: 5px;
  margin: 0 auto;
  margin-top: 5%;
}

/* DESSINS ANIMES*/

.dessins-container {
  display: flex;
  flex-direction: column;
  margin-top: 10%;
  animation: apparition 2s cubic-bezier(0.55, 0.085, 0.68, 0.53) both;
  animation: augment 2s cubic-bezier(0.25, 0.46, 0.45, 0.94) both;
}

.dessins-debut {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 15%;
  height: 43px;
  background-color: black;
  border-radius: 41px;
  color: white;
  font-size: 13px;
  box-shadow: 5px 10px 10px rgba(0, 0, 0, 0.441);
  animation: apparition 2s cubic-bezier(0.55, 0.085, 0.68, 0.53) both;
  animation: augment 2s cubic-bezier(0.25, 0.46, 0.45, 0.94) both;
  margin-left: 5%;
}

/* FIMLS */

.films-container {
  display: flex;
  flex-direction: column;
  margin-top: 10%;
  animation: apparition 2s cubic-bezier(0.55, 0.085, 0.68, 0.53) both;
  animation: augment 2s cubic-bezier(0.25, 0.46, 0.45, 0.94) both;
}

.films-debut {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 15%;
  height: 43px;
  background-color: black;
  border-radius: 41px;
  color: white;
  font-size: 13px;
  box-shadow: 5px 10px 10px rgba(0, 0, 0, 0.441);
  animation: apparition 2s cubic-bezier(0.55, 0.085, 0.68, 0.53) both;
  animation: augment 2s cubic-bezier(0.25, 0.46, 0.45, 0.94) both;
  margin-left: 5%;
}

.bloc-films {
  width: 90%;
  height: auto;
  display: flex;
  flex-wrap: wrap;
  margin: auto;
  justify-content: center;
  margin-top: 3%;
}

/*PAGE SUIVANTE*/

.next-page {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 4rem;
  width: 10vw;
  background-color: #ffd700;
  margin: 0 auto;
  margin-top: 5%;
  border-radius: 10px;
}

.next-page p {
  width: 100%;
  text-align: center;
  font-weight: bold;
}

.next-page a {
  color: black;
}

/*FOOTER*/

footer {
  width: auto;
  height: 110px;
  display: flex;
  justify-content: center;
  /* background-color: white; */
  /* border-top: 5px;
  border-style: solid;
  border-color: #ffd700; */
  margin-top: 7%;
}

.footer-container {
  display: flex;
  justify-content: center;
  margin-top: 2%;
}

.logos-foot {
}

.social {
  width: 34px;
  height: 34px;
}

.copyright {
  font-size: 17px;
  color: white;
  font-weight: bold;
}

/* Media query pour les écrans de taille moyenne */
@media only screen and (max-width: 1024px) {
  /* .all {
    display: flex;
    flex-direction: column-reverse;
  }

  .sidebar {
    width: 100vw;
    height: 5vh;
  } */

  .search input {
    width: 20vw;
  }

  /*SIDEBAR*/
  .logo-side {
    width: 100%;
    height: 44px;
    /* background-color: aquamarine; */
  }

 /*CONTAINER 2*/
 .descript-contain {
  height: 200px;
}

.text-descript {
  width: 100%;
}

.text-descript P:first-child {
  font-size: 30px;
}
  /*VIDEOS*/

  .dessins-debut {
    width: auto;
    font-size: 20px;
  }
  .bloc-deo {
    display: flex;
    align-items: flex-start;
    gap: 4%;
  }

  /*films*/

  .films-debut {
    width: auto;
    font-size: 20px;
  }
  .bloc-films {
    display: flex;
    align-items: flex-start;
    gap: 4%;
  }
  /*PAGE SUIVANTE*/

  .next-page {
    width: 18vw;
    height: 3rem;
  }
  .next-page p {
    width: 100%;
    text-align: center;
    font-size: 12px;
    font-weight: bold;
  }
}
/* Media query pour les écrans de petite taille (par exemple, mobile) */
@media only screen and (max-width: 768px) {
  .container {
    width: 95%;
  }

  nav {
    flex-direction: column-reverse;
  }

  .search input {
    width: 50vw;
  }

  .user {
    font-size: 12px;
    font-weight: bold;
    gap: 8px;
  }

  .user img {
    width: 30px;
    height: 30px;
  }

  /*SIDEBAR*/
  .logo-side {
    width: 100%;
    height: 25px;
    /* background-color: aquamarine; */
  }

  .btn-content {
    font-size: 8px;
  }

  .btn-content p {
    display: none;
  }

   /*CONTAINER 2*/
   .descript-contain {
    height: 120px;
  }

  .text-descript {
    width: 100%;
  }

  .text-descript P:first-child {
    font-size: 16px;
  }

  .text-descript P:nth-child(2) {
    font-size: 10px;
    color: #ffd700;
  }
  /*VIDEO*/
  .bloc-deo {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 5%;
  }

  .video {
    width: 60%;
    padding: 0;
  }

  /*films*/
  .bloc-films {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 5%;
  }

  .films {
    width: 60%;
    padding: 0;
  }

  /*PAGE SUIVANTE*/
  .next-page {
    width: 20vw;
    height: 2rem;
    margin-top: 10%;
  }
  .next-page p {
    width: 100%;
    text-align: center;
    font-size: 10px;
    font-weight: bold;
  }

  /*FOOTER*/

  footer {
    height: 100px;
    margin-top: 10%;
    padding-left: 5%;
    padding-right: 5%;
  }

  .footer-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-top: 5%;
  }

  .social {
    width: 26px;
    height: 26px;
  }

  .copyright {
    font-size: 8px;
  }
}
