* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-family: "Lemon", sans-serif;
}

body {
  background-color: rgba(37, 39, 49, 1);
}

.container {
  width: 90%;
  margin: 0 auto;
  /* height: 100%; */
}

nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-top: 10px;

  /* background-color: blue; */
}

.inscri {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 136px;
  height: 38px;
  background-color: white;
  font-size: 14px;
  border-radius: 24px;
  border: 1px solid rgba(252, 226, 42, 1);
}

.conn {
  width: 136px;
  height: 38px;
  background-color: rgba(252, 226, 42, 1);
  font-size: 14px;
  border-radius: 24px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.bloc-id {
  display: flex;
  gap: 15px;
}

.descript-contain {
  display: flex;
  justify-content: space-between;
  margin-top: 5%;
}

.text-descript {
  width: 40%;
  text-align: left;
  margin-top: 5%;
}

.text-descript P:first-child {
  font-size: 50px;
  color: white;
  position: relative;
}
.text-descript P:first-child img {
  position: absolute;
  margin-left: 2px;
  margin-top: 27px;
}

.text-descript P:nth-child(2) {
  font-size: 18px;
  color: rgba(252, 226, 42, 1);
}

.first-video {
  width: 50%;
  height: 550px;
  background: url(./img/boy-africa.jpg);
  background-size: cover;
  background-position: center center;
}

/*Videos recentes*/

.video-recentes {
  /* background-color: red; */
  display: 	flex;
  flex-direction: column;
  margin-top: 10%;
}

.deo-debut {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 15%;
  height: 43px;
  background-color: rgba(255, 255, 255, 0.32);
  border-radius: 41px;
  color: white;
  font-size: 13px;
}

.bloc-deo {
  display: flex;
  /* flex-wrap: wrap; */
  justify-content: space-between;
  gap: 2%;
  padding-left: 5%;
}

.video {
  width: 20%;
  height: 150px;
  background-color: rgba(252, 226, 42, 1);
  margin-top: 5%;
}

/* Musiques recentes */

.musique-recentes {
  /* background-color: red; */
  display: 	flex;
  flex-direction: column;
  margin-top: 10%;
}

.music-debut {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 15%;
  height: 43px;
  background-color: rgba(255, 255, 255, 0.32);
  border-radius: 41px;
  color: white;
  font-size: 13px;
}

.bloc-music {
  display: flex;
  /* flex-wrap: wrap; */
  justify-content: space-between;
  gap: 2%;
  padding-left: 5%;
}

.musique {
  width: 20%;
  height: 150px;
  background-color: rgba(252, 226, 42, 1);
  margin-top: 5%;
}

/*Conseil*/

.conseil {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin-top: 10%;
  width: auto;
}

.conseil p {
  color: white;
  font-size: 32px;
  width: 48%;
  text-align: center;
}

.inscrip-conseil {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 13%;
  height: 58px;
  background-color: white;
  font-size: 20px;
  border-radius: 36px;
  border: 1px solid rgba(252, 226, 42, 1);
  margin-top: 5%;
}

/*ABOUT*/
.about {
  width: auto;
  margin-top: 10%;
}

.about-container {
  margin: 0 auto;
  width: 70%;
  height: 320px;
  border: 2px solid rgba(252, 226, 42, 1);
}

.about-container p {
  font-size: 24px;
  text-align: center;
  color: white;
}

.about-container p span{
  color: rgba(252, 226, 42, 1);
}

.title-about {
}



/* Media query pour les écrans de taille moyenne */
@media only screen and  (max-width: 1024px) {
  .container {
    width: 95%;
  }

  nav{
    flex-direction: column;
  }

  .bloc-id {
    flex-direction: row; 
    .deo-debut {
      width: 5%;
    }
    align-items: center;
    font-size: 8px;
  }

   .descript-contain {
    
  }

  .text-descript {
    width: 100%;
    margin-top: 0; 
  }

  .text-descript P:first-child {
    font-size: 30px;
    margin-top: 10%;
  }

  .first-video {
    width: 100%;
    height: 300px; 
  }

  /*Videos recentes*/

  .deo-debut {
    width: auto;
    font-size: 20px;
  }
  .bloc-deo {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: flex-start;
    gap: 2%;
  }
  
  .video {
    width: 30%;
  }

    /* Musiques recentes */

  .music-debut {
    width: auto;
    font-size: 20px;
  }
  .bloc-music {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: flex-start;
    gap: 2%;
  }
  
  .musique {
    width: 30%;  
  }

   /*Conseil*/ 
  
  .conseil p {
    width: 60%;
  }

  .inscrip-conseil {
    width: 17%;
    height: 48px;
    background-color: white;
    font-size: 16px;
    border-radius: 26px;
    border: 1px solid rgba(252, 226, 42, 1);
    margin-top: 5%;
  }
}    


/* Media query pour les écrans de petite taille (par exemple, mobile) */
@media only screen and (max-width: 768px) {
  .text-descript P:first-child {
    font-size: 20px;
  }

  .inscri,
  .conn {
    width: auto;
    padding: 5px;
  }

  .descript-contain {
    margin-top: 10%;
    flex-direction: column;
    gap: 10px;

  }
  
  .bloc-deo {
    display: flex;
    /* flex-wrap: wrap; */
    justify-content: center;
    gap: 2%;
  }
  
  .video {
    width: 70%;
    padding: 0;
  }

    /* Musiques recentes */

  .bloc-music {
    display: flex;
    /* flex-wrap: wrap; */
    justify-content: center;
    gap: 2%;
  }
    
  .musique {
    width: 70%;
    padding: 0;
  }
    
  .conseil p {
    width: 100%;
    font-size: 16px;
  }

  .inscrip-conseil {
    width: 35%;
    height: 48px;
    background-color: white;
    font-size: 16px;
    border-radius: 26px;
    border: 1px solid rgba(252, 226, 42, 1);
    margin-top: 5%;
  }  
}
