* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-family: "Lemon", sans-serif;
}

body {
  background-color: rgba(37, 39, 49, 1);
}

.container {
  width: 90%;
  margin: 0 auto;
  /* height: 100%; */
}

nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-top: 10px;

  /* background-color: blue; */
}

.inscri {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 136px;
  height: 38px;
  background-color: white;
  font-size: 14px;
  border-radius: 24px;
  border: 1px solid rgba(252, 226, 42, 1);
  box-shadow: 5px 10px 10px rgba(0, 0, 0, 0.25);
}

.conn {
  width: 136px;
  height: 38px;
  background-color: rgba(252, 226, 42, 1);
  font-size: 14px;
  border-radius: 24px;
  display: flex;
  align-items: center;
  justify-content: center;
  box-shadow: 5px 10px 10px rgba(0, 0, 0, 0.25);
}

.bloc-id {
  display: flex;
  gap: 15px;
}

.descript-contain {
  display: flex;
  justify-content: space-between;
  margin-top: 5%;
}

.text-descript {
  width: 40%;
  text-align: left;
  margin-top: 5%;
}

.text-descript P:first-child {
  font-size: 50px;
  color: white;
  position: relative;
}
.text-descript P:first-child img {
  position: absolute;
  margin-left: 2px;
  margin-top: 27px;
}

.text-descript P:nth-child(2) {
  font-size: 18px;
  color: rgba(252, 226, 42, 1);
}

.first-video {
  width: 50%;
  height: 550px;
  background: url(./img/boy-africa.jpg);
  background-size: cover;
  background-position: center center;
  box-shadow: 5px 10px 10px rgba(0, 0, 0, 0.25);
  border-radius: 5px;
}

/*Videos recentes*/

.video-recentes {
  /* background-color: red; */
  display: flex;
  flex-direction: column;
  margin-top: 10%;
  box-shadow: 5px 10px 10px rgba(0, 0, 0, 0.25);
}

.deo-debut {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 15%;
  height: 43px;
  background-color: rgba(255, 255, 255, 0.32);
  border-radius: 41px;
  color: white;
  font-size: 13px;
  box-shadow: 5px 10px 10px rgba(0, 0, 0, 0.25);
}

.bloc-deo {
  display: flex;
  /* flex-wrap: wrap; */
  justify-content: space-between;
  gap: 2%;
  padding-left: 5%;
}

.bloc-deo div:nth-child(2) {
  background: url("./img/image-film/la-canne-du-roi.jpeg");
  background-position: center center;
  background-size: cover;
}

.bloc-deo div:nth-child(3) {
  background: url("./img/image-film/le_mandat.jpeg");
  background-position: center center;
  background-size: cover;
}

.bloc-deo div:nth-child(4) {
  background: url("./img/image-film/binti.jpeg");
  background-position: center center;
  background-size: cover;
}

.bloc-deo div:nth-child(5) {
  background: url("./img/image-film/m_les-3-lascars-redimensionn.jpeg");
  background-position: center center;
  background-size: cover;
}

.bloc-deo div:nth-child(6) {
  background: url("./img/image-film/pokou.jpeg");
  background-position: center center;
  background-size: cover;
}

.video {
  width: 20%;
  height: 150px;
  background: url("./img/image-film/aya-de-yopougon.jpeg");
  background-position: center center;
  background-size: cover;
  margin-top: 5%;
  position: relative;
  border-radius: 5px;
  box-shadow: 5px 10px 10px rgba(0, 0, 0, 0.25);
}

.video p {
  position: absolute;
  color: rgba(252, 226, 42, 1);
  font-size: 15px;
  bottom: 0;
  margin-left: 20%;
  margin-bottom: -10%;
}

/* Musiques recentes */

.musique-recentes {
  /* background-color: red; */
  display: flex;
  flex-direction: column;
  margin-top: 10%;
  box-shadow: 5px 10px 10px rgba(0, 0, 0, 0.25);
}

.music-debut {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 15%;
  height: 43px;
  background-color: rgba(255, 255, 255, 0.32);
  border-radius: 41px;
  color: white;
  font-size: 13px;
  margin-top: 5%;
  box-shadow: 5px 10px 10px rgba(0, 0, 0, 0.25);
}

.bloc-music {
  display: flex;
  /* flex-wrap: wrap; */
  justify-content: space-between;
  gap: 2%;
  padding-left: 5%;
}

.musique {
  width: 20%;
  height: 150px;
  background: url("./img/image-music/trophy_room.png");
  background-position: center center;
  background-size: cover;
  margin-top: 5%;
  border-radius: 5px;
}

/*Conseil*/

.conseil {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin-top: 10%;
  width: auto;
}

.conseil p {
  color: white;
  font-size: 32px;
  width: 48%;
  text-align: center;
}

.inscrip-conseil {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 13%;
  height: 58px;
  background-color: white;
  font-size: 20px;
  border-radius: 36px;
  border: 1px solid rgba(252, 226, 42, 1);
  margin-top: 3%;
}

/*ABOUT*/
.about {
  width: auto;
  margin-top: 7%;
}

.about-container {
  position: relative;
  margin: 0 auto;
  width: 50%;
  height: 350px;
  border: 2px solid rgba(252, 226, 42, 1);
  border-radius: 17px;
}

.about-container p {
  font-size: 24px;
  text-align: center;
  color: white;
  padding: 0 15%;
  text-align: center;
}

.about-container p span {
  color: rgba(252, 226, 42, 1);
}

.about-logo1 img {
  width: 70px;
  height: 70px;
  left: 0;
}

.about-logo2 img {
  position: absolute;
  width: 70px;
  height: 70px;
  right: 0;
  bottom: 0;
}

.title-about {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 179px;
  height: 54px;
  border-radius: 12px;
  background-color: rgba(252, 226, 42, 1);
  color: rgba(37, 39, 49, 1);
  font-size: 24px;
  margin: 0 auto;
  margin-top: -3%;
}

/*FOOTER*/

footer {
  width: auto;
  height: 110px;
  background-color: white;
  border-top: 5px;
  border-style: solid;
  border-color: rgba(252, 226, 42, 1);
  margin-top: 7%;
  padding-left: 5%;
  padding-right: 5%;
}

.footer-container {
  display: flex;
  justify-content: space-around;
  margin-top: 2%;
}

.logos-foot {
}

.social {
  justify-content: center;
  width: 34px;
  height: 34px;
}

.africa-foot img {
  width: 168px;
  height: 41px;
}

.copyright {
  font-size: 15px;
}

/* Media query pour les écrans de taille moyenne */
@media only screen and (max-width: 1024px) {
  .container {
    width: 95%;
  }

  nav {
    flex-direction: column;
  }

  .bloc-id {
    flex-direction: row;
    .deo-debut {
      width: 5%;
    }
    align-items: center;
    font-size: 8px;
  }

  .descript-contain {
  }

  .text-descript {
    width: 100%;
    margin-top: 0;
  }

  .text-descript P:first-child {
    font-size: 30px;
    margin-top: 10%;
  }

  .first-video {
    width: 100%;
    height: 300px;
  }

  /*Videos recentes*/

  .deo-debut {
    width: auto;
    font-size: 20px;
  }
  .bloc-deo {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: flex-start;
    gap: 2%;
  }

  .video {
    width: 30%;
  }

  /* Musiques recentes */

  .music-debut {
    width: auto;
    font-size: 20px;
  }
  .bloc-music {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: flex-start;
    gap: 2%;
  }

  .musique {
    width: 30%;
  }

  /*Conseil*/

  .conseil p {
    width: 60%;
  }

  .inscrip-conseil {
    width: 17%;
    height: 48px;
    background-color: white;
    font-size: 16px;
    border-radius: 26px;
    border: 1px solid rgba(252, 226, 42, 1);
    margin-top: 5%;
  }

  /*About*/

  .about-container {
    width: 70%;
  }

  .about-container p {
    margin-top: -5%;
    font-size: 22px;
  }

  /*FOOTER*/

  footer {
    height: 120px;
  }
}

/* Media query pour les écrans de petite taille (par exemple, mobile) */
@media only screen and (max-width: 768px) {
  .text-descript P:first-child {
    font-size: 20px;
  }

  .inscri,
  .conn {
    width: auto;
    padding: 5px;
  }

  .descript-contain {
    margin-top: 10%;
    flex-direction: column;
    gap: 10px;
  }

  .bloc-deo {
    display: flex;
    /* flex-wrap: wrap; */
    justify-content: center;
    gap: 2%;
  }

  .video {
    width: 70%;
    padding: 0;
  }

  /* Musiques recentes */

  .bloc-music {
    display: flex;
    /* flex-wrap: wrap; */
    justify-content: center;
    gap: 2%;
  }

  .musique {
    width: 70%;
    padding: 0;
  }

  .conseil p {
    width: 100%;
    font-size: 16px;
  }

  .inscrip-conseil {
    width: 35%;
    height: 48px;
    background-color: white;
    font-size: 16px;
    border-radius: 26px;
    border: 1px solid rgba(252, 226, 42, 1);
    margin-top: 5%;
  }
  /*About*/

  .about-container {
    margin: 0 auto;
    margin-top: 10%;
    width: 50%;
    height: 200px;
    border: 2px solid rgba(252, 226, 42, 1);
    border-radius: 17px;
  }

  .title-about {
    width: 159px;
    height: 34px;
    border-radius: 12px;
    font-size: 15px;
    margin-top: -6%;
  }

  .about-logo1 img {
    width: 30px;
    height: 30px;
  }

  .about-logo2 img {
    position: absolute;
    width: 30px;
    height: 30px;
  }

  .about-container {
    width: 70%;
  }

  .about-container p {
    margin-top: -5%;
    font-size: 12px;
  }

  /*FOOTER*/

  footer {
    height: 100px;
    margin-top: 10%;
    padding-left: 5%;
    padding-right: 5%;
  }

  .footer-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-top: 5%;
  }

  .social {
    width: 20px;
    height: 20px;
  }

  .africa-foot img {
    width: 100px;
    height: 30px;
    order: 1;
  }

  .copyright {
    font-size: 8px;
  }
}
